
.lindat-common .container {
  background-color: #FFF;
  border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #C0C0C0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #C0C0C0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #C0C0C0;
}

/* Barvy textu a odkazů */
body {
    color: #333333; /* Základní barva textu */
}

a {
    color: #337ab7; /* Základní barva odkazů */
    text-decoration: none;
}

a:hover {
    color: #23527c; /* Barva odkazů při najetí myší */
    text-decoration: underline;
}

/* Změní barvu textu neaktivních záložek */
ul.nav-tabs-green > li > a {
  color: #3c763d;
}

/* Stylování aktivní záložky - vyšší specifikace */
ul.nav-tabs-green > li > a.active,
ul.nav-tabs-green > li > a.show.active {
  color: #3c763d !important;
  background-color: #dff0d8 !important; /* Použijeme !important pro přepsání Bootstrapu */
}

/* Stylování pro hover stavy záložek */
ul.nav-tabs-green > li > a:hover,
ul.nav-tabs-green > li > a.active:hover,
ul.nav-tabs-green > li > a:focus {
  color: #3c763d;
  background-color: #dff0d8;
  text-decoration: none;
}

/* Hlavní záložky */
ul.nav-tabs-gray > li > a {
  color: #337ab7;
}

/* Stylování pro hover stavy hlavních záložek */
ul.nav-tabs-gray > li > a:hover,
ul.nav-tabs-gray > li > a:focus {
  color: #23527c;
  background-color: #f0f0f0;
  text-decoration: none;
}

/* Styles for file input */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-link {
  color: black;
  text-decoration: none;
}
  
.btn-link:hover {
  color: black;  /* Zachová černou barvu i při najetí myší */
  text-decoration: none;
}
 
.btn-link:focus, .btn-link.focus {
  text-decoration: none;
  box-shadow: none;
}

.btn-ponk-small {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 14px;
}

.btn-ponk-colors {
    /* Základní styly tlačítka */
    border: none;
    color: white;
    cursor: pointer;
    
    /* Pozadí jako gradient */
    background: linear-gradient(to bottom, #3278b3, #265a89);
    
    /* Odebrání přechodových efektů */
    transition: none;
}

/* Styl při najetí myší */
.btn-ponk-colors:hover {
    /* Pozadí při najetí myší */
    background: #265a88;
}

.rotate-text {
  writing-mode: vertical-rl;
  text-align: left;
  white-space: nowrap;
  padding: 10px 5px;
  cursor: pointer; /* Aby ukazatel myši vypadal jako ruka */
}

.full-height {
  height: 100%;
}

.output-wrapper {
  position: relative;
}

.vertical-tab-right {
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 0.25rem !important; /* odpovídá Bootstrap 5's .rounded-end pro horní pravý roh */
  border-bottom-right-radius: 0.25rem !important; /* odpovídá Bootstrap 5's .rounded-end pro dolní pravý roh */
}

.vertical-tab-green {
  background-color: white;
  color: #3c763d;
  transition: background-color 0.3s ease; /* pro jemnější přechod */
}

.vertical-tab-green:hover {
  color: #3c763d;
  background-color: #dff0d8 !important;
  text-decoration: none;
}

.vertical-tab-green.active {
  background-color: #dff0d8 !important; /* Zelené pozadí, když je features_app1 viditelný */
}

#features_app1 {
  transition: all 0.3s ease-in-out;
  width: 0;
  padding: 0; /* Zajišťuje, že padding neovlivňuje skrytí */
  border: none; /* Odstraní border, pokud by přispíval k viditelnosti */
  overflow: hidden; /* Skryje obsah, který by mohl překračovat */
  display: block !important;
  box-sizing: border-box; /* Zajišťuje, že padding a border jsou zahrnuty ve width */
  opacity: 0; /* Skryje obsah */
}

#features_app1.show {
  width: 30%;
  padding: 3px;
  opacity: 0.8;
}

